<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title><%= title %></title>
</head>
<body>
    <h2 class="app-title"><%= title %> </h2>
    <% if(error) { %>
        <p><%= error %></p>
    <% } %>
    
    <a href="/" class="add-product-btn">View products</a>

    <div class="product-details">
        <div class="product-group">
            <h4>Name:</h4>
            <p><%= product.name %></p>
        </div>
        <div class="product-group">
            <h4>Price:</h4>
            <p><%= product.price %></p>
        </div>
        <div class="product-group">
            <h4>Description:</h4>
            <p><%= product.description %></p>
        </div>
    </div>
</body>
</html>