<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2><%= title %> </h2>
    <% if(error) { %>
        <p><%= error %></p>
    <% } %>
    
    <a href="/">View products</a>

    <div class="product-details">
        <h4>Name: <%= product.name %></h4>
        <h4>Price: <%= product.price %></h4>
        <h4>Description: <%= product.description %></h4>
    </div>
</body>
</html>